.body {
  margin: 0;
}
.App-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #fffeee, #ffc0bb);
  height: 100vh;
}
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 60%;
  min-height: 40%;
  border-radius: 10px;
  padding: 20px;
}
.heading {
  color: #0f172a;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
  text-align: center;
}
.emoji-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 50px;
}
.list-element {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.button {
  background-color: transparent;
  border: none;
}
.emoji {
  width: 100px;
  margin: 30px;
}
.feedBackContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.love-emoji {
  width: 100px;
}
.description {
  font-size: 20px;
  font-family: 'Roboto';
}
